<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title">Oh la belle équipe de {{ currentRecipient.title }} </h3>
            <h5 class="card-title">Composée de {{ currentRecipient.recipients.length }} membres</h5>
                <div v-for='recipient in currentRecipient.recipients' :key='recipient.id' class="media mb-2" >
                  <img class="mr-3 rounded" style='height:120px' :src="recipient.avatar" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0">{{recipient.firstName}} {{recipient.lastName}}</h5>
                    <span class="badge badge-info">{{recipient.email}}</span>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import  { recipientsGroup } from '@/assets/js/recipientsGroup'

export default {
  name: 'OneTeam',
  data:()=>({
      localRecipients: recipientsGroup,
      currentRecipient: null
  }),
  created(){
      this.currentRecipient = this.localRecipients.find(element => element.id === this.$route.params.teamId);
  }
}
</script>
