<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title">Nos équipes ! </h3>
            <div class="card" >
              <ul class="list-group list-group-flush text-center">
                <div v-for="localRecipient in localRecipients" :key="localRecipient.id">
                    <li class="list-group-item" > L'équipe {{localRecipient.title}}  {{localRecipient.icon}}
                        <button @click='openTeamDetails(localRecipient.id)' type="button" class="btn btn-secondary btn-sm">Voir</button>
                    </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import  { recipientsGroup } from '@/assets/js/recipientsGroup'

export default {
  name: 'Teams',
    data:()=>({
      localRecipients:recipientsGroup,
  }),
  methods:{
      openTeamDetails(teamId){
          this.$router.push({
              name:'TeamsDetail',
              params:{teamId:teamId}
          });
      }
  }
}
</script>
